#pp1{font:italic 14px/1.5em "Times New Rowan";text-align:left; text-indent: 5.25px;}
#pp2{font:bold 16px/1.5em "Arial";text-align:right; text-indent: -5.25px;}
#pp1{font:italic 14px/1.5em "Times New Rowan";text-align:left; text-indent: 5.25px;}
#pp4{font:oblique 16px/2em "Verdana";text-align:justify; text-indent: 5.25px;}
