#content{background-color: blue;
 background-image: url("7.1.png");
 background-position: center top;
 background-attachment: fixed;
 background-repeat: no-repeat;}

#content2{background-image: url("atom.jng");
 background-position:  top;
 /*background-attachment: fixed;*/
 background-repeat: no-repeat;}

#content3{background-image: url("7.88.png");
 background-position: top;/*background-attachment: fixed;*/
 background-repeat: no-repeat;}

#content4{background-image: url("7.8.jpg");
 background-position: right;/*background-attachment: fixed;*/
 background-repeat: no-repeat;}

#iz{background: red url(atom33.png)repeat-y fixed right top; 
background-position: left;}

.text{text-align: center;font-family: Comic Sans MS;font-weight: bold;font-size: 18px;}
